{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <title>{{ recipe.name }}</title>
  </head>
  <body>
    <main>
      <img src="{% static 'images/image-omelette.jpeg' %}" alt="omelette" />
      <h1>{{ recipe.name }}</h1>
      <p class="main-description">{{ recipe.description }}</p>

      <div class="time-container">
        <h3>Preparation time</h3>
        <ul>
          {% for key, duration in recipe.time.items %}
            <li><span>{{ key }}:</span> {{ duration }}</li>
          {% endfor %}
      </div>

      <div class="ingredients-container">
        <h2>Ingredients</h2>
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="instructions-container">
        <h2>Instructions</h2>
        <ol>
          {% for instruction in recipe.instructions %}
            <li><span>{{ instruction.0 }}</span> {{ instruction.1 }}</li>
          {% endfor %}
        </ol>
      </div>

      <div class="nutrition-container">
        <h2>Nutrition</h2>
        <p class="nutrition-container__description">
          The table below shows nutritional values per serving without the
          additional fillings.
        </p>
        <div class="table-container">
          <div class="table-row">
            <div class="table-left">
              <p>Calories</p>
            </div>
            <div class="table-right">
              <p>{{ recipe.calories }}kcal</p>
            </div>
          </div>

          <div class="table-row">
            <div class="table-left">
              <p>Carbs</p>
            </div>
            <div class="table-right">
              <p>{{ recipe.carbs }}g</p>
            </div>
          </div>

          <div class="table-row">
            <div class="table-left">
              <p>Protein</p>
            </div>
            <div class="table-right">
              <p>{{ recipe.protein }}g</p>
            </div>
          </div>

          <div class="table-row">
            <div class="table-left">
              <p>Fat</p>
            </div>
            <div class="table-right">
              <p>{{ recipe.fat }}g</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
